---
import logo from '../images/logo.png'
interface Props {
    title?: string,
    description?: string,  
}

const {description, title} = Astro.props
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={description} />
		<title>Zenit Ascensores {title}</title>
	</head>
	<body>
        <header class="fixed z-10 w-full bg-white shadow py-5">
            <div class="w-[60%] mx-auto flex items-end justify-between">
                <img class="max-w-[150px]" src={logo} alt="logo" />
                <nav class="h-full flex items-center gap-6">
                    <a href="#inicio" class="uppercase text-sm hover:bg-blue hover:text-white h-full">Inicio</a>
                    <a href="#proyectos" class="uppercase text-sm">Proyectos</a>
                    <a href="#nosotros" class="uppercase text-sm">Nosotros</a>
                    <a href="#imagenes" class="uppercase text-sm">Imagenes</a>
                    <a href="#contacto" class="uppercase text-sm">Contacto</a>
                    <a href="/cotization" class="uppercase text-sm">Cotizacion</a>
                    <a href="" target="_blank" class="uppercase text-sm">Cotizacion</a>
                </nav>
            </div>
        </header>
        <main class="pt-[100px]">
            <slot />
        </main>
	</body>
</html>
