---
import logo from '../images/logo.png'
interface Props {
    title?: string,
    description?: string,  
}

const {description, title} = Astro.props
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={description} />
		<title>Zenit Ascensores {title}</title>
	</head>
	<body>
        <header class="fixed w-full bg-white shadow py-5 z-30">
            <div class="w-[80%] mx-auto flex items-end justify-between">
                <img class="max-w-[150px]" src={logo} alt="logo" />
                <nav class="h-full flex items-center gap-6">
                    <a href="/#inicio" class="uppercase text-sm hover:bg-blue hover:text-white h-full">Inicio</a>
                    <a href="/#proyectos" class="uppercase text-sm">Proyectos</a>
                    <a href="/#nosotros" class="uppercase text-sm">Nosotros</a>
                    <a href="/#imagenes" class="uppercase text-sm">Imagenes</a>
                    <a href="/#contacto" class="uppercase text-sm">Contacto</a>
                    <a href="/cotization" class="uppercase text-sm">Cotizacion</a>
                    <a href="" target="_blank" class="uppercase text-sm">Cotizacion</a>
                </nav>
            </div>
        </header>
        <main class="pt-[100px]">
            <slot />
        </main>
        <footer class="bg-black py-10">
            <div class="w-[80%] mx-auto">
                <div class="grid grid-cols-12 gap-10">
                    <div class="col-span-9">
                        <h2 class="text-white text-2xl mb-5">Eleva tus proyectos...</h2>
                        <p class="text-gray text-sm">En Zenit estamos comprometidos con la satisfacción de nuestros clientes, por eso ofrecemos soluciones en ascensores y escaleras eléctricas que emplean tecnología de punta y garantizan seguridad sin sacrificar diseño, contáctenos y compruébelo...</p>
                        <hr class="my-5" />
                        <span class="text-gray text-xs">Zenit © Copyright 2018. Todos los derechos reservados.</span>
                    </div>
                </div>
            </div>
        </footer>
	</body>
</html>
